.handsAnchor {
  -fx-alignment: center;
}

.opponentHand {
	-fx-background-color: derive(darkgoldenrod, 10%);
	-fx-border-width: 1px;
	-fx-border-color: black;
}

.hand {
	-fx-background-color: derive(darkslategray, 10%);
	-fx-border-width: 1px;
	-fx-border-color: black;
}

.handCardPlayable {
	-fx-effect: dropshadow(three-pass-box, derive(blue, -20%), 10, .75, 0, 0);
}

.handLandPlayable {
	-fx-effect: dropshadow(three-pass-box, derive(green, -20%), 10, .75, 0, 0);
}

.manaPool {
	-fx-background-color: derive(darkslategray, 10%);
	-fx-border-width: 1px;
	-fx-border-color: black;
}

.manaQuantityLabel {
    -fx-font: bold 20pt "Arial";
    -fx-text-fill: #000;
}

.landZone {
    -fx-background-color: derive(slategrey, 10%);
}

.cardCountLabel {
    -fx-font: bold 20pt "Arial";
    -fx-text-fill: #FFF;
}

.playZone {
    -fx-background-color: derive(darkolivegreen, 10%);
}

.opponentPlayZone {
    -fx-background-color: derive(darkolivegreen, 10%);
}

.zoom-layer {
	-fx-background-color: rgba(0, 100, 100, 0.5);
}

.drop-shadow {
	-fx-effect: dropshadow(three-pass-box, derive(black, -20%), 10, 0, 3, 3);
}